.CartWidget_Button{
    margin-top: 0;
    padding: 6px;
    border-color: #a9a6a6;
    background-color: white;
    border-radius: 6px;
}

.CartWidget_Image{
    width: 30px;
    height: 30px;
    padding: 6px;
}